# Lab 3


Tasks:

By using the flights data find all flights:

1. Had an arrival delay of two or more hours.

2. Flew to Houston (IAH or HOU)

3. Were operated by American, Delta

4. How many values are missing in `dep_time`?

5. Sort `flight` to find fastest flight.

6. Which flights travelled the shortest?

In [1]:
import pandas as pd

flights = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/nyc_flights.csv')

In [2]:
flights.head(5)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z

## Question 1 : Had an arrival delay of two or more hours.

In [3]:
flights[flights['arr_delay'] >=2]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01T10:00:00Z
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336758,2013,9,30,2203.0,2205,-2.0,2339.0,2331,8.0,EV,5311,N722EV,LGA,BGR,61.0,378,22,5,2013-10-01T02:00:00Z
336759,2013,9,30,2207.0,2140,27.0,2257.0,2250,7.0,MQ,3660,N532MQ,LGA,BNA,97.0,764,21,40,2013-10-01T01:00:00Z
336760,2013,9,30,2211.0,2059,72.0,2339.0,2242,57.0,EV,4672,N12145,EWR,STL,120.0,872,20,59,2013-10-01T00:00:00Z
336762,2013,9,30,2233.0,2113,80.0,112.0,30,42.0,UA,471,N578UA,EWR,SFO,318.0,2565,21,13,2013-10-01T01:00:00Z
336763,2013,9,30,2235.0,2001,154.0,59.0,2249,130.0,B6,1083,N804JB,JFK,MCO,123.0,944,20,1,2013-10-01T00:00:00Z

## Question 2 : Flew to Houston (IAH or HOU)

In [4]:
flights[(flights['dest'] == 'IAH' ) | (flights['dest'] == 'HOU' )]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z
32,2013,1,1,623.0,627,-4.0,933.0,932,1.0,UA,496,N459UA,LGA,IAH,229.0,1416,6,27,2013-01-01T11:00:00Z
81,2013,1,1,728.0,732,-4.0,1041.0,1038,3.0,UA,473,N488UA,LGA,IAH,238.0,1416,7,32,2013-01-01T12:00:00Z
89,2013,1,1,739.0,739,0.0,1104.0,1038,26.0,UA,1479,N37408,EWR,IAH,249.0,1400,7,39,2013-01-01T12:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336524,2013,9,30,1729.0,1720,9.0,2001.0,2010,-9.0,UA,652,N455UA,EWR,IAH,173.0,1400,17,20,2013-09-30T21:00:00Z
336527,2013,9,30,1735.0,1715,20.0,2010.0,2005,5.0,WN,2067,N296WN,EWR,HOU,188.0,1411,17,15,2013-09-30T21:00:00Z
336618,2013,9,30,1859.0,1859,0.0,2134.0,2159,-25.0,UA,1128,N14731,LGA,IAH,180.0,1416,18,59,2013-09-30T22:00:00Z
336694,2013,9,30,2015.0,2015,0.0,2244.0,2307,-23.0,UA,1545,N17730,EWR,IAH,174.0,1400,20,15,2013-10-01T00:00:00Z
336737,2013,9,30,2105.0,2106,-1.0,2329.0,2354,-25.0,UA,475,N477UA,EWR,IAH,175.0,1400,21,6,2013-10-01T01:00:00Z

## Question 3 : Were operated by American, Delta

In [5]:
flights[(flights['carrier'] == 'AA' ) | (flights['carrier'] == 'DL' )]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T11:00:00Z
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01T11:00:00Z
14,2013,1,1,559.0,600,-1.0,941.0,910,31.0,AA,707,N3DUAA,LGA,DFW,257.0,1389,6,0,2013-01-01T11:00:00Z
20,2013,1,1,602.0,610,-8.0,812.0,820,-8.0,DL,1919,N971DL,LGA,MSP,170.0,1020,6,10,2013-01-01T11:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336709,2013,9,30,2032.0,2045,-13.0,2147.0,2225,-38.0,AA,371,N434AA,LGA,ORD,105.0,733,20,45,2013-10-01T00:00:00Z
336715,2013,9,30,2041.0,2045,-4.0,2147.0,2208,-21.0,DL,985,N359NB,JFK,BOS,37.0,187,20,45,2013-10-01T00:00:00Z
336718,2013,9,30,2050.0,2045,5.0,20.0,53,-33.0,DL,347,N396DA,JFK,SJU,188.0,1598,20,45,2013-10-01T00:00:00Z
336744,2013,9,30,2121.0,2100,21.0,2349.0,14,-25.0,DL,2363,N193DN,JFK,LAX,296.0,2475,21,0,2013-10-01T01:00:00Z
336751,2013,9,30,2140.0,2140,0.0,10.0,40,-30.0,AA,185,N335AA,JFK,LAX,298.0,2475,21,40,2013-10-01T01:00:00Z

## Quetion 4 : How many values are missing in `dep_time`?

In [6]:
flights['dep_time'].isnull().sum()

8255

## Question 5 : Sort `flight` to find fastest flight.

In [26]:
flights['flight_time1']= (flights['hour']) + (flights['minute']/60)

In [27]:
flights['flight_time1'].argmin()

275945

In [28]:
flights.iloc[275945]

year                              2013
month                                7
day                                 27
dep_time                           NaN
sched_dep_time                     106
dep_delay                          NaN
arr_time                           NaN
sched_arr_time                     245
arr_delay                          NaN
carrier                             US
flight                            1632
tailnum                            NaN
origin                             EWR
dest                               LGA
air_time                           NaN
distance                            17
hour                                 1
minute                               6
time_hour         2013-07-27T05:00:00Z
flight_time1                       1.1
velocity                     15.454545
Name: 275945, dtype: object

### Flight 1632 is the Fastest Flight in terms of *'travel time'* with total flight time 1hr and 6min

In [34]:

#By Sorting
flights.sort_values(by=('flight_time1'))

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,flight_time1,velocity
275945,2013,7,27,NaN,106,NaN,NaN,245,NaN,US,...,NaN,EWR,LGA,NaN,17,1,6,2013-07-27T05:00:00Z,1.100000,15.454545
40020,2013,10,15,456.0,500,-4.0,636.0,648,-12.0,US,...,N435US,EWR,CLT,84.0,529,5,0,2013-10-15T09:00:00Z,5.000000,105.800000
256653,2013,7,8,459.0,500,-1.0,641.0,640,1.0,US,...,N559UW,EWR,CLT,81.0,529,5,0,2013-07-08T09:00:00Z,5.000000,105.800000
137970,2013,3,3,509.0,500,9.0,640.0,648,-8.0,US,...,N560UW,EWR,CLT,77.0,529,5,0,2013-03-03T10:00:00Z,5.000000,105.800000
317276,2013,9,10,453.0,500,-7.0,629.0,648,-19.0,US,...,N543UW,EWR,CLT,73.0,529,5,0,2013-09-10T09:00:00Z,5.000000,105.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182198,2013,4,18,2358.0,2359,-1.0,359.0,339,20.0,B6,...,N506JB,JFK,BQN,194.0,1576,23,59,2013-04-19T03:00:00Z,23.983333,65.712300
308514,2013,8,30,2358.0,2359,-1.0,334.0,344,-10.0,B6,...,N564JB,JFK,SJU,197.0,1598,23,59,2013-08-31T03:00:00Z,23.983333,66.629604
308513,2013,8,30,2355.0,2359,-4.0,339.0,350,-11.0,B6,...,N645JB,JFK,PSE,203.0,1617,23,59,2013-08-31T03:00:00Z,23.983333,67.421821
274138,2013,7,26,9.0,2359,10.0,400.0,344,16.0,B6,...,N629JB,JFK,SJU,196.0,1598,23,59,2013-07-27T03:00:00Z,23.983333,66.629604
177365,2013,4,13,2355.0,2359,-4.0,340.0,339,1.0,B6,...,N535JB,JFK,BQN,201.0,1576,23,59,2013-04-14T03:00:00Z,23.983333,65.712300

#### BY Velocity

In [36]:
#***EXTRA***
#In terms of velocity

flights['velocity']= (flights['distance'])/((flights['flight_time1']))
flights[['flight','velocity']].loc[0]

flight      1545.000000
velocity     266.666667
Name: 0, dtype: float64

### **Fastest flight in terms of *'Average Velocity'* will be flight 1545.**

## Question 6 : Which flights travelled the shortest?

In [11]:
flights.sort_values(by='distance', ascending=True).iloc[0]

year                              2013
month                                7
day                                 27
dep_time                           NaN
sched_dep_time                     106
dep_delay                          NaN
arr_time                           NaN
sched_arr_time                     245
arr_delay                          NaN
carrier                             US
flight                            1632
tailnum                            NaN
origin                             EWR
dest                               LGA
air_time                           NaN
distance                            17
hour                                 1
minute                               6
time_hour         2013-07-27T05:00:00Z
flight_time1                      1.06
Name: 275945, dtype: object

### Flight 1632 is the shortest flight with 17 unit distance travelled.